@import 'variaveis';

@mixin container ($direcao, $tamanho, $horizontal, $vertical){
    display: flex;
    flex-direction: $direcao;
    justify-content: $horizontal;
    align-items: $vertical;
    width: $tamanho;

}

@mixin titulo ($tamanho, $espessura){
    font-size: $tamanho;
    color: $cor-texto-titulo;
    font-weight: $espessura;
    font-family: $fonte-principal;

}

@mixin texto ($tamanho){
    font-size: $tamanho;
    color: $cor-texto-normal;
    font-weight: 300;
    font-family: $fonte-principal;

}

@mixin item ($tamanho){
    font-size: $tamanho;
    color: $cor-texto-normal;
    font-weight: 700;
    font-family: $fonte-principal;
}

@mixin destaque ($tamanho) {
    font-size: $tamanho;
    color: $cor-texto-botao;
    font-weight: 700;
    font-family: $fonte-principal;
    background-color: $cor-fundo-destaque;
    
}

@mixin botao ($largura, $altura, $tamanho, $espessura){
    font-size: $tamanho;
    color: $cor-texto-botao;
    background-color: $cor-fundo-botao;
    font-weight: $espessura;
    height: $altura;
    width: $largura;
    border-radius: 5px;
    border: none;
    font-family: $fonte-principal;
}