@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');


//Cores de texto

$cor-texto-normal: #000;
$cor-texto-titulo: #4C5A28;
$cor-texto-botao: #fff;
$cor-texto-preco: #4C5A28;
$cor-texto-quadrado: #fff;
$cor-texto-destaque: #fff;

//Cores de Fundo

$cor-fundo: #F8F8F8;
$cor-fundo-cabecalho: #E9E9D3;
$cor-fundo-quadrado1: #4C5A28;
$cor-fundo-quadrado2: #A19F74;
$cor-fundo-quadrado3: #CBCAB2;
$cor-fundo-quadrado4: #C5C4AC;
$cor-fundo-botao: #4C5A28;
$cor-fundo-destaque: #A6823E;

//Tamanhosda de Fonte

$fonte-PP: 0.2rem;
$fonte-P: 0.5rem;
$fonte-M: 1rem;
$fonte-G: 1.5rem;
$fonte-GG: 2rem;
$fonte-GX: 2.5rem;

//Espaçamento

$espacamento-P: 3rem;
$espacamento-M: 5rem;
$espacamento-G: 7rem;

//Espessura da Fonte

$espessura-Light: 300;
$espessura-Regular: 400;
$espessura-Bold: 700;
$espessura-Black: 900;


//Fonte Estilo

$fonte-principal:'Chivo', sans-serif;

$celular: 430px;