@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');


//Cores de texto

$cor-texto-normal: #000;
$cor-texto-titulo: #4C5A28;
$cor-texto-destaque: #A6823E;
$cor-texto-botao: #fff;
$cor-texto-preco: #4C5A28;
$cor-texto-quadrado: #fff;
$cor-texto-destaque: #fff;

//Cores de Fundo

$cor-fundo: #F8F8F8;
$cor-fundo-cabecalho: #E9E9D3;
$cor-fundo-quadrado1: #4C5A28;
$cor-fundo-quadrado2: #A19F74;
$cor-fundo-quadrado3: #CBCAB2;
$cor-fundo-quadrado4: #C5C4AC;
$cor-fundo-botao: #4C5A28;

//Tamanhosda de Fonte

$fonte-PP: 1rem;
$fonte-PP: 2rem;
$fonte-M: 3rem;
$fonte-G: 4rem;
$fonte-GX: 5rem;

//Espaçamento

$espacamento-P: 3rem;
$espacamento-M: 5rem;
$espacamento-G: 7rem;

//Fonte Estilo

$fonte-principal:'Chivo', sans-serif;