@import 'variaveis';
@import 'mixins';



.fundo {
    @include container(row, 100%, space-between, center);
    background-color: $cor-fundo-cabecalho;

    .container {
        @include container(column, 50%, space-between, flex-start);
        height: 10rem;
        align-self: flex-start;

        .logo1 {
            width: 100em;
            height: auto;
 
        }
    
    }

}