@import 'variaveis';
@import 'mixins';

.fundo {
    @include container(column, 100%, center, center);
    background-color: $cor-fundo;
    margin-bottom: 10rem;

    .titulo {
        @include titulo($fonte-GG, $espessura-Bold);
        text-align: center;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
}

@media (max-width: $celular) {

    .fundo {
        @include container(column, 100%, center, center);
        background-color: $cor-fundo;
        margin-bottom: 2rem;
    
        .titulo {
            @include titulo($fonte-M, $espessura-Bold);
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }

}