@import 'variaveis';
@import 'mixins';

.fundo {
    @include container(row, 100%, space-around, center);
    background-color: $cor-fundo-cabecalho;
    height: 6rem;

    .container {
        @include container(column, 30%, space-around, center);
        height: 5rem;

        .contato {
            @include container(row, 10.5rem, center, center);

            img {
                width: 1.5rem;
            }

            p {
                @include texto($fonte-M);
                margin-left: 0.5rem;
            }
        }
    }
}

@media (max-width: $celular) {

    .fundo {
        @include container(row, 100%, flex-start, center);
        background-color: $cor-fundo-cabecalho;
        height: 4rem;
        flex-wrap: wrap;
    
        .container {
            @include container(column, 28%, center, center);
            height: 3rem;
            
    
            .contato {
                @include container(row, 7rem, flex-start, center);
               
    
                img {
                    width: 0.7rem;
                }
    
                p {
                    @include texto($fonte-P + 0.2rem);
                    margin-left: 0.2rem;
                }
            }
        }
    }

}

@media (max-width: 390px) {

    .fundo {
        @include container(row, 100%, flex-start, center);
        background-color: $cor-fundo-cabecalho;
        height: 4rem;
        flex-wrap: wrap;
    
        .container {
            @include container(column, 28%, center, center);
            height: 3rem;
            
    
            .contato {
                @include container(row, 6rem, flex-start, center);
                
               
    
                img {
                    width: 0.7rem;
                }
    
                p {
                    @include texto($fonte-P + 0.1rem);
                    margin-left: 0.2rem;
                }
            }
        }
    }

}

@media (max-width: 313px) {

    .fundo {
        @include container(row, 100%, flex-start, center);
        background-color: $cor-fundo-cabecalho;
        height: 3rem;
        flex-wrap: wrap;
    
        .container {
            @include container(column, 28%, center, center);
            height: 2.5rem;
            
    
            .contato {
                @include container(row, 5rem, flex-start, center);
                
               
    
                img {
                    width: 0.6rem;
                }
    
                p {
                    @include texto($fonte-P);
                    margin-left: 0.2rem;
                }
            }
        }
    }

}

@media (max-width: 300px) {

    .fundo {
        @include container(row, 100%, flex-start, center);
        background-color: $cor-fundo-cabecalho;
        height: 3rem;
        flex-wrap: wrap;
    
        .container {
            @include container(column, 28%, center, center);
            height: 3rem;
            
    
            .contato {
                @include container(row, 5rem, flex-start, center);
                
               
    
                img {
                    width: 0.5rem;
                }
    
                p {
                    @include texto($fonte-P);
                    margin-left: 0.2rem;
                }
            }
        }
    }

}